In [43]:
from sqlalchemy import create_engine
import pandas as pd
from datetime import date

In [44]:
connection_string = "mssql+pyodbc://calculator:calculator@195.133.69.14/SKMRUSMSSQL?driver=ODBC+Driver+17+for+SQL+Server"
date = date(2023, 9, 1)

In [3]:
engine = create_engine(connection_string)

In [60]:
cpp_model_results = pd.read_csv("./test_data/bus_out.csv", skiprows=lambda x: x%2 == 0)

In [61]:
cpp_model_results.columns = ['hour', 'node', 'loss', 'pg_ats', 'pg', 'pn_ats', 'pn', 'qg', 'qn', 'node_price_ats', 'node_price_orig', 'node_price', 'u_ras', 'a_ras']

In [62]:
cpp_model_results.head()

,hour,node,loss,pg_ats,pg,pn_ats,pn,qg,qn,node_price_ats,node_price_orig,node_price,u_ras,a_ras
0,0,100002,-0.937731,-0.0,-0.000,2.609378,2.609378,-0.030957,3.90206,1269.866085,1273.073738,1273.073738,117.877748,0.335845
1,0,100003,-0.936430,-0.0,-0.000,-3.172081,-3.172081,0.000780,0.00000,1270.716928,1271.294565,1271.294565,228.588935,0.346205
2,0,100004,-0.948188,24.3,0.243,150.845358,150.845358,-0.569693,66.86197,1287.758858,1287.250534,1287.250534,117.584145,0.242720
3,0,100005,-0.951782,18.0,0.180,91.075758,91.075758,-0.063302,76.01380,1293.653941,1292.130073,1292.130073,117.000000,0.238282
4,0,100006,-0.954189,-0.0,-0.000,20.360836,20.360836,-0.091452,30.69151,1285.438213,1295.397915,1295.397915,121.959896,0.244350

In [63]:
matlab_results = pd.read_sql(f"select * from model1.res_bus where version = 0 and date = '{date.isoformat()}'", engine)

In [64]:
matlab_results = matlab_results[cpp_model_results.columns]

In [79]:
matlab_results.tail()

,hour,node,loss,pg_ats,pg,pn_ats,pn,qg,qn,node_price_ats,node_price_orig,node_price,u_ras,a_ras
229922,23,1006346,-0.623555,-0.0,0.0,2.886580e-11,2.886580e-11,99.858569,0.0,935.052571,938.178188,938.178188,235.370000,2.246568
229923,23,1006347,-0.623555,-0.0,0.0,-2.757425e-11,-2.757425e-11,0.000681,0.0,935.052603,938.178283,938.178283,235.238548,2.246265
229924,23,1006348,-0.623555,-0.0,0.0,9.381075e-12,9.381075e-12,0.000618,0.0,935.052551,938.178048,938.178048,235.257865,2.246605
229925,23,1006406,-0.623555,-0.0,0.0,-4.725392e-01,-4.725392e-01,0.000643,0.0,935.052558,938.178133,938.178133,235.248154,2.246690
229926,23,1006414,-0.653004,-0.0,0.0,-2.476745e+01,-2.476745e+01,-0.009184,0.0,979.878244,982.092110,982.092110,509.189788,2.006252

In [68]:
matlab_prices = matlab_results[['node', 'hour', 'node_price_ats', 'node_price']]
cpp_model_results = cpp_model_results[['node', 'hour', 'node_price']]

In [74]:
comparison = matlab_prices.merge(right=cpp_model_results, on=['node', 'hour'], how='inner', suffixes=['_m', '_cpp'])

In [70]:
comparison.shape[0] == matlab_results.shape[0] == cpp_model_results.shape[0]

False

In [73]:
cpp_model_results.shape[0]

229926

In [76]:
comparison['price_delta'] = abs(comparison.node_price_m - comparison.node_price_cpp)

In [78]:
comparison.to_csv('2023_09_01.csv', index=False, sep=';')